*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 33rem;
  height: auto;
}

p {
  display: flex;
  width: 20rem;
  text-align: start;
}
